<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="d-flex flex-column min-vh-100">
    <footer class="bg-body-tertiary text-info-emphasis p-2 mt-auto"  data-bs-theme="dark">
    <p class="text-center" style="color: #0ef;">Made with <i class="fa-solid text-danger fa-heart"></i> By Ashish</p>
  </footer>
    
</body>
</html>