<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header') %>
  </head>
  <body  style="background-color: #1f242d; color: #fff;">
    <%- include('./partials/nav') %>

    <div class="container mt-3">      
    <h3 class="text-info text-center mb-4">Add Blog</h3>
    <div class="container mt-4 frm" style="max-width: 600px; padding: 20px; box-sizing: border-box; border-radius:10px; box-shadow: 0 4px 8px 0 #0ef, 0 6px 20px 0 #0ef;">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label" style="color: #0ef;">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder="Enter Your Title Here"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3">
          <label for="content" style="color: #0ef;">Content</label>
          <textarea
            class="form-control"
            name="content"
            id="content"
            placeholder="Add Your Thoughts Here"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="coverImage" class="form-label" style="color: #0ef;">Upload Picture</label>
          <input
            class="form-control"
            type="file"
            id="coverImage"
            name="coverImage"
            aria-describedby="coverImage"
          />
        </div>
        <div class="mb-3">
          <button class="btn btn-primary w-100">Submit</button>
        </div>
      </form>
      </div>
    </div>

    
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
